name: Ubuntu latest Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types:
      - opened
      - reopened
      - synchronize
      - labeled # check for labels

jobs:

  build:

    runs-on: ubuntu-latest

    # save CPU time on GitHub
    # either it's a push to main
    # either ( disable for draft PRs && correctly labeled )
    # if: ${{ github.event_name == 'push' || github.event.pull_request.labels.*.name == 'enable workflow' }}
    # if: ${{ github.event_name == 'push' }}

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile
