name: Ubuntu 20 C++14 Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review # not drafts -> check if the user have tagged it as ready for reviews
      - labeled # check for labels

jobs:

  build:

    runs-on: ubuntu-latest

    # save CPU time on GitHub
    # either it's a push to main
    # either ( disable for draft PRs && correctly labeled )
    if: ${{ (github.event_name == 'push') || (!github.event.pull_request.draft && github.event.label.name == 'enable workflow') }}

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --build-arg ROOT_IMAGE=rootproject/root:6.24.06-ubuntu20.04 --tag my-image-name:$(date +%s)
